{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-4  pb-2" style="border-bottom:4px solid;border-color:#6f42c1;">
        <div class="col-4">
            <form method="POST" onsubmit="chercher(event)">
                <div class="row" >
                <div class="col-8 pr-2">
                <input id="motCle" type="text" placeholder="Chercher" class="form-control">
                </div>
                <div class="col-4 p-0">
                <button class="btn btn-primary">Chercher</button>
                </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form method="POST" onsubmit="list(event)">
                <div class="row">
                <div class="col-4 pr-0">
                <input id="dateMin" type="date" class="form-control">
                </div>
                <div class="col-4 ">
                <input id="dateMax" type="date" class="form-control">
                </div>
                <div class="col-4 p-0">
                <button class="btn btn-primary" style="width:80px;">Lister</button>
                </div>
                </div>
            </form>
        </div>
        </div>
        <div class="row mt-4 mb-4 pb-2" style="border-bottom:4px solid;border-color:#6f42c1;">
            <div class="col-3">
            <select class="form-select" onchange="filtrerParNote(event)">
                <option selected>Note</option>
                {% for i in 0..20 %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-5 p-0">
            <select class="form-select " onchange="filtrerParDate(event)">
                <option selected>Date de publication</option>
                {% for date in dates|sort  %}
                    <option value="{{date.date_de_parution|date("m/d/Y")}}">{{date.date_de_parution|date("m/d/Y")}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-2 ">
            <select class="form-select " onchange="filtrerParAuteur(event)">
                <option selected>Auteur</option>
                {% for auteur in auteurs %}
                    <option value="{{auteur.id}}">{{auteur.nomPrenom}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-2 p-0">
            <select class="form-select " onchange="filtrerParGenre(event)">
                <option selected>Genre</option>
                {% for genre in genres %}
                    <option value="{{genre.id}}">{{genre.nom}}</option>
                {% endfor %}
            </select>
            </div>
        </div>

    <div class="row">
    <div class="mb-4 pt-2" style="background-color:#1a2c73;text-align: center; color: white;font-weight: bold;">
    <h5 style="color: white;font-weight: bold;">Livres</h5>
    </div>


    {% for triple in livres|batch(4) %}

        <div class="row">

        {% for livre in triple %}
        <div class="col-3">
        <div class="card mb-3">
            <h3 class="card-header bg-primary" style="font-size:20px; color:white;">{{ livre.titre }}</h3>
            <div class="card-body">
            </div>
            <div class="card-body">
                {% if livre.id < 10 %}
                <img src="https://picsum.photos/640/36{{livre.id}}" class="w-100">
                {% else %}
                <img src="https://picsum.photos/640/3{{livre.id}}" class="w-100">
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ISBN : {{ livre.isbn }}</li>
            </ul>
            <div class="card-body">
                    <div class="row">
                    <div class="col-4 p-0">
                    <a class="btn" style="background-color:#1a2c73;color:white;" href="{{ path('livre_show', {'id': livre.id}) }}">Afficher</a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-4 p-0">
                    <a  class="btn btn-primary" href="{{ path('livre_edit', {'id': livre.id}) }}">Modifier</a>
                    </div>
                    <div class="col-4 p-0">
                    {{ include('livre/_delete_form.html.twig') }}
                    </div>
					{% endif %}
                    </div>
            </div>
            <div class="card-footer text-muted text-center">
            {{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}
            </div>
            </div>

            </div>
        {% endfor %}

        </div>

    {% endfor %}





    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Titre</th>
                <th>Nombre_pages</th>
                <th>Date_de_parution</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nombrePages }}</td>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d H:i:s') : '' }}</td>
                <td><span id="livre-note-{{ livre.id }}">{{ livre.note }}</span></td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">Afficher</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">Modifier</a>
                    {{ include('livre/_delete_form.html.twig') }}
					{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('livre_new') }}">Ajouter</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
	<script src="/js/main.js"></script>
{% endblock %}