{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <div class=" container mb-4 mt-2 pt-2" style="background-color:#287bb5;text-align: center; color: white;font-weight: bold;">
    <h5 style="color: white;font-weight: bold; padding-bottom:5px;">Livre</h5>
    </div>

    <div class="container">

    <div class="row">

    <div class="col-4">
        <div class="card mb-3">
            <h3 class="card-header bg-primary" style="font-size:20px; color:white;">{{ livre.titre }}</h3>
            <div class="card-body">
            </div>
            <div class="card-body">
                {% if livre.id < 10 %}
                <img src="https://picsum.photos/640/36{{livre.id}}" class="w-100">
                {% else %}
                <img src="https://picsum.photos/640/3{{livre.id}}" class="w-100">
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ISBN : {{ livre.isbn }}</li>
            </ul>
            <div class="card-body">
                    <div class="row">
                    <div class="col-4 p-0">
                    <a class="btn" style="background-color:#1a2c73;color:white;" href="{{ path('livre_show', {'id': livre.id}) }}">Afficher</a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-4 p-0">
                    <a  class="btn btn-primary" href="{{ path('livre_edit', {'id': livre.id}) }}">Modifier</a>
                    </div>
                    <div class="col-4 p-0">
                    {{ include('livre/_delete_form.html.twig') }}
                    </div>
					{% endif %}
                    </div>
            </div>
            <div class="card-footer text-muted text-center">
            {{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}
            </div>
            </div>

    </div>


    <div class="col-8">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ livre.isbn }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Nombre_pages</th>
                <td>{{ livre.nombrePages }}</td>
            </tr>
            <tr>
                <th>Date_de_parution</th>
                <td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ livre.note }}</td>
            </tr>

            			<tr>
				<th>Genres</th>
				<td>
					{% for genre in livre.genres %}
						<span>
							{{ genre }}
						</span><br>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Auteurs</th>
				<td>
					{% for auteur in livre.auteurs %}
						<span>
							{{ auteur }}
						</span><br>
					{% endfor %}
				</td>
			</tr>
        </tbody>
    </table>

    </div>


    </div>

    </div>
{% endblock %}
